#comparison-result-container {
    padding-top: 30px;

}

#comparison-result-container h3 {
    text-align: center;
    font-weight: 600;
}

#comparison-result-container p {
    margin-top: 20px;
    text-align: center;
}

#comparison-result-container h6 {
    margin-top: 20px;
    text-align: center;
}

#comparison-result-mov {
    border: 1px solid blue;
    width: 350px;
    height: 550px;
    margin: 20px auto;
    text-align: center;
}

#comparison-result-text {
    width: 600px;
    text-align: center;
    padding-bottom: 10px;
}

#result-onoff-btn {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    width: 150px;
    margin: 10px;
}

#comparison-result-text span {
    border: 1px solid green;
    display: block;
    min-height: 200px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
}

.result-btn {
    border: none;
    background-color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 모바일 */
@media (max-width: 649px) {
    #comparison-result-text {
        width: 350px;
    }
}