.user-list-box {
    padding: 10px;
    margin-bottom: 10px;
}

#user-list-heading {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

#user-list-heading > h3 {
    float: left;
}

#select-order {
    width: 130px;
    position: absolute;
    right: 10px;
}

#user-list-back-btn {
    display: inline-block;
    width: 100px;
    position: absolute;
    bottom: 0; 
    right: 10px;
    color: black;
}
