#file-upload-container {
    width: 100%;
    margin-top: 50px;
}

#file-upload-container > div {
    width: 350px; 
    margin: 0 auto;
}

#file-upload-container h4 {
    text-align: center; 
    font-weight: bold; 
    margin-bottom: 10px;
}

#file-upload-btn {
    border: none;
    color: white;
    background-color: #609966;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
    font-weight: 600;
    font-size: 18px;
}

#file-upload-btn:hover {
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
    background-color: #548559;
}